.custom-shape-divider-top-1711765483 {
    
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1711765483 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.custom-shape-divider-top-1711765483 .shape-fill {
    fill: #FFFFFF;
}